html {
  font-family: sans-serif;
  font-size: 62.5%;
}
body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #333333;
  background-color: white;
}
article,
footer,
header,
nav,
section {
  display: block;
}
a {
  text-decoration: none;
  background: transparent;
}
a:active,
a:hover {
  outline: 0;
  color: #2a6496;
}
h1 {
  font-style: 2em;
  margin: 0.67em 0;
}
#zj-site {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
  background-color: #ffffff;
}
.header--fixed {
  position: fixed;
  z-index: 10;
  right: 0;
  left: 0;
  top: 0;
  width: 100%;
  border-radius: 0;
  background-color: white;
  opacity: 0.96;
  -webkit-box-shadow: 0px 1px 4px 0px rgba(50, 50, 50, 0.25);
  -moz-box-shadow: 0px 1px 4px 0px rgba(50, 50, 50, 0.25);
  box-shadow: 0px 1px 4px 0px rgba(50, 50, 50, 0.25);
}
.zj-slide,
#zj-site,
.zj-slidebar {
  -webkit-transition: -webkit-transform 400ms ease;
  -moz-transition: -moz-transform 400ms ease;
  -o-transition: -o-transform 400ms ease;
  transition: transform 400ms ease;
  -webkit-transition-property: -webkit-transform, left, right;
  -webkit-backface-visibility: hidden;
}
.row {
  margin-left: -15px;
  margin-right: -15px;
}
.row:before,
.row:after {
  content: " ";
  display: table;
}
.row:after {
  clear: both;
}
.row .col-md-12 {
  width: 100%;
  float: left;
  padding: 58px 0 58px 0;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
.menu-toggle {
  position: relative;
  width: 18px;
  height: 16px;
}
.menu-toggle .line {
  position: absolute;
  background-color: white;
  width: 18px;
  height: 2px;
}
.menu-toggle .middle {
  top: 50%;
  margin-top: -1px;
}
.menu-toggle .top {
  top: 0px;
}
.menu-toggle .bottom {
  bottom: 0px;
}
.cover {
  position: fixed;
  z-index: 0;
  padding: 0;
  color: white;
  text-align: center;
  width: 100%;
  float: left;
}
.cover h1 {
  margin-top: 0;
}
.cover .cover-home {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 10;
}
.cover .cover-home .cover-text {
  z-index: 10;
  text-align: left;
  display: inline-block;
}
.cover .cover-home .cover-subtitle {
  display: inline-block;
}
.learn-more {
  cursor: pointer;
  position: absolute;
  bottom: 34px;
  margin-left: -50px;
  left: 50%;
  z-index: 10;
  -webkit-transition: all 800ms ease-in-out;
  -moz-transition: all 800ms ease-in-out;
  -o-transition: all 800ms ease-in-out;
  -ms-transition: all 800ms ease-in-out;
  transition: all 800ms ease-in-out;
  animation-duration: 2s;
  -webkit-animation-duration: 2s;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}
.learn-more p {
  padding-bottom: 13px;
}
.learn-more img {
  height: 15px;
}
