body{
  background-color: black;
  color:grey;
  font-size: 20px;
}

header{
  height:10%;
  width:100%;
  background-color:white;
}

footer{
  height:10%;
  width:100%;
  background-color:white;
}

.home-title{
  font-size:30px;
  padding-left:20px;
  padding-top:10px;
}

.code-core{
  color:red;
  font-size:30px;
  font-weight: bold;
  margin-left:40px;
}

.code-block{
  margin-top:200px;
  margin-left:200px;
}

.beian{
  position:absolute;
  left:50%;
  bottom:5px;
  color:gray;
}